{
    "input_transform": [{
        "type": "RandomHorizontalFlip",
        "args": {
            "p": 0.5
        }
    },{
        "type": "RandomRotation",
        "args": {
            "degrees": 30
        }
    },{
        "type": "RandomResizedCrop",
        "args": {
            "size": [224,224]
        }
    },{
        "type": "ToTensor",
        "args": {}
    }],
    "output_transform": [],
    "training": {
        "batch_size": 32,
        "shuffle": true,
        "num_workers": 2,
        "lr": 0.0001,
        "momentum": 0.0,
        "plot_loss": false,
        "quiet": false,
        "epochs": 10000,
        "optimizer": "Adam",
        "loss": "cross_entropy",
        "weight_decay": 0.0001,
        "early_stopper":{
            "patience": 3,
            "min_delta": 0.001
        }
    },
    "train_data_split":{ 
        "train_size": 0.8,
        "val_size": 0.2
    },
    "model":
    {
        "type": "ResidualNetwork",
        "args": {
            "block_list": [
                [64,1,2],
                [64,2,2],
                [128,2,2],
                [256,2,2],
                [512,2,2]
            ],
            "num_classes": 2,
            "bias": true
        }
    },
    "device": "cuda"
}
